@layout('layout.main')

@section('title')
Main
{{--  showing up in the tab  --}}
@endsection

@section('content')

<section>
<div class="title" href="/"> FIVE WORDS </div>
<div class="subtitle">
  <p>your life. five words at a time.</p>
</div>
<div class="buttonrow">
  <a href="/signup"><button class="signUpButton"> don't have an account? </button></a>
  <a href="/login"><button class="logInButton"> have an account? </button></a>
</div>
</section>

@endsection