<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Neighborly</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Our Custom CSS -->
  {{ style('style5.css') }}
  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
  </script>

</head>

<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  <!-- Success Modal -->
  @if(message)
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Thanks for being Neighborly!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @each(sentence in message)
          <p>{{ sentence }}</p>
          @endeach
        </div>
      </div>
    </div>
  </div>
  @endif
  <!-- Donation Modal -->
  <div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the areas you would like to donate to</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="modal_form" action=/donate method="GET">
            <div class="form-group">
              <label for="donation_amount" class="col-form-label">Donation amount:</label>
              <input type="text" name="donation_amount" class="form-control" id="donation_amount">
            </div>
            <label for="sel1">I would like to donate...</label>
            <select name="choice" class="form-control" id="sel1">
              <option>equally</option>
              <option>randomly</option>
            </select>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="Food" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Food</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="Housing" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Housing</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="Health_Care" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Health Care</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="Supplies" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Supplies</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="Advisory_Counseling" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Advisory/Counseling</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="Employment_Training" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Employment/Training</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="Community" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Community</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="Families_Women_and_Children" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Families, Women and Children</span>
            </label>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="submitDonation">Donate!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Neighborly</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="/" class="article">Go Back <i class="fas fa-arrow-left"></i></a>
        </li>
        <li><span t></span></li>
        <li>
          <!--class="active" -->
          <p>Filter by nonprofits that support:</p>
        </li>
      </ul>
      <form id="sidebar_checkboxes" name="search_something" action=/query method="get">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="Food" id="Food" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Food</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="Housing" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Housing</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="Health_Care" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Health Care</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="Supplies" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Supplies</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="Advisory_Counseling" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Advisory/Counseling</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="Employment_Training" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Employment/Training</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="Community" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Community</span>
        </label>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="Families_Women_and_Children" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-label">Families, Women and Children</span>
        </label>
        <button type="submit" class="btn btn-primary" id="submitFilters">Submit</button>
      </form>
      <hr id="pre-donate">
      <ul class="list-unstyled CTAs">
        <li>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#donationModal"
            data-whatever="@mdo">Donate now!</button>
        </li>
      </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>

        </div>
      </nav>


      <!-- Organizations from database query -->
      @each(org in orgs)
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ org.name }} 
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ org.address }}</h6>
          <p class="card-text">{{ org.about }}</p>
          <a href="{{ org.homepage_url }}" class="card-link">Website</a>
          <a href="mailto:{{ org.email }}" class="card-link">Email</a>
          <span class="card-balance">Balance: ${{ org.balance }}</span>
        </div>
      </div>
      <div class="line"></div>
      @endeach
    </div>
  </div>

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
  </script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
  </script>

  <script type="text/javascript">
    $(document).ready(function () {
          // if(outputString.length > 0){
          //   $('#successModal').modal('show');
          // }
          $('#successModal').modal('show');
          $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
          });
          $('#submitDonation').on('click', function() {
            let donationCheckboxes = this.querySelectorAll('input[type=checkbox]');
          save(donationCheckboxes);
          })
        });
        $('#donationModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal

        })
        window.onload = function() {
          let checkboxes = document.querySelectorAll('input[type=checkbox]');
          load_(checkboxes);
        }
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        window.onsubmit = function() {
          let checkboxes = document.querySelectorAll('input[type=checkbox]');
          save(checkboxes)
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
          } else {
            document.getElementById("myBtn").style.display = "none";
          }
          }

        function save(checkboxes) {
          for (let i = 0; i < checkboxes.length; i++) {
            let j = i > checkboxes.length / 2 ? i - 8 : i;
            if(checkboxes[i].checked){
              localStorage.setItem(checkboxes[j].name, 'true'); 
            } else{
              localStorage.setItem(checkboxes[j].name, 'false')
            }
          }
        }
        
        function load_(checkboxes) {          
          for (let i = 0; i < checkboxes.length; i++) {
            let j = i > (checkboxes.length / 2) ? (i - 8) : i;
              checkboxes[i].checked = localStorage.getItem(checkboxes[j].name) === 'true' ? true:false;
            }
        } 

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
  </script>
</body>

</html>