<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>AdonisJs simplicity will make you feel confident about your code</p>
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
    </div>
    <form name="search_something" action=/query method="get">
      <input type=checkbox name="Food">Food<br>
      <input type=checkbox name="Housing">Housing<br>
      <input type=checkbox name="Health_Care">Health care<br>
      <input type=checkbox name="Supplies">Supplies<p>
      <input type=checkbox name="Advisory_Counseling">Advisory/counseling<p>
      <input type=checkbox name="Employment_Training">Employment/training<p>
      <input type=checkbox name="Community">Community<p>
      <input type=checkbox name="Families_Women_and_Children">Families, women and children<p>
      <input type=submit value="Search">
      </form>
  </section>
</body>
</html>
